body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.quote-wrapper {
  width: 200px;
  background-color: #e4e4e3;
  padding: 12px;
  text-align: center;
}

#quote-author {
  text-decoration: underline;
  color: gray;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
